* {
    box-sizing: border-box;
}

body {
    background-color: rgba(72, 163, 0, 0.07);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    padding: 0 16px 32px;
}

.heading {
    font-size: 64px;
    color: rgba(72, 163, 0, 1);
    text-align: center;
}

.heading span {
    color: rgba(97, 72, 28, 1);
}

.main-container {
    background-color: rgba(251, 251, 251, 1);
    max-width: 660px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.main-container h2 img {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    vertical-align: middle;
}

.label {
    font-size: 14px;
    color: rgba(133, 133, 133, 1);
    margin-bottom: 18px;
}

.progress-bar {
    height: 30px;
    background-color: #48A3001A;
    border-radius: 15px;
    margin-bottom: 48px;
}

.progress-value {
    height: 100%;
    width: 0;
    background-color: #48A300;
    border-radius: 15px;
    font-weight: 500px;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    /* padding-left: 20px; */
    /* visibility: hidden; */
    overflow: hidden;
}

.progress-value span {
    padding-left: 20px;
}

.error-label {
    font-size: 12px;
    color: #FF5151;
    margin-top: 8px;
    display: none;
}

.show-error .error-label {
    display: block;
}

.goal-container {
    border: 1px solid #0000001A;
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #FFFFFF;
    margin-bottom: 46px;
}

.check-box {
    height: 24px;
    width: 24px;
    border: 2px solid #61481C4D;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    display: none;
}

.goal-input {
    border: none;
    outline: none;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    /* flex-grow: 1; */
    width: 100%;
    /* height: 100%; */
    align-self: stretch;
    font-weight: 500;
}

.goal-input::placeholder {
    color: #D9D9D9;
}

.quote {
    font-weight: 500;
    text-align: center;
}

.footer {
    color: #858585;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    margin-top: 64px;
}

.completed .check-box {
    background-color: #48A300;
    border-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .heading {
        font-size: 32px;
    }

    .main-container {
        padding: 16px 32px;
    }

    .progress-bar {
        height: 24px;
    }

    .goal-container {
        height: 64px;
    }

    .check-box {
        height: 20px;
        width: 20px;
    }

    .footer {
        margin-top: 32px;
    }
}